.vscode/
obj/
Animations/
Materials/
Graphics/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
Scenes/
Build/
Assets/Tile Palette/
Assets/Audio/
Assets/Data/
Assets/Prefabs/
Assets/TextMesh Pro/
**/**.vsconfig
**/**.asset
**/**.csproj
**/**.sln
**/**.meta
**/**.physicsMaterial2D