.vscode/
obj/
Animations/
Materials/
Graphics/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
Scenes/
Assets/Tile Palette/
Assets/Prefabs/
Assets/TextMesh Pro/
**/**.asset
**/**.csproj
**/**.sln
**/**.meta
**/**.physicsMaterial2D